include mixins/forms
!!!
html
  head
    title #{appName} | #{activeSearchText}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap.min.css')
    style
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    link(rel='stylesheet', href='http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/style.css')
    block extrahead
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/')= appName
          if user.isAdmin
            ul.nav
              li
                a(href='/admin') Admin
          navFormAction = user.isAnonymous ? '/auth' : '/unauth'
          form.navbar-form.pull-right(method='POST', action=navFormAction)
            div
              mixin csrf
              img(src='/img/twitter_userlight.png')
              if user.isAuthenticated
                span.screenname= user.name
                input.btn.primary(type='submit', value='Sign Out')
              else
                input.btn.primary(type='submit', value='Sign In')
    .container
      block content
      hr
      footer
        p
          a(href='https://github.com/insin/twitter-searchite')= appName
          |  v#{appVersion}