extends base

block extrahead
  style
    .tweet { margin-bottom: 12px; position: relative; padding-bottom: 6px; border-bottom: 1px solid #eee; }
    .tweet-header, .tweet-text, .tweet-footer { margin-left: 60px; }
    .tweet-header .tweet-avatar { position: absolute; top: 0; left: 0; }
    .tweet-user { font-weight: bold; color: #000; }
    .tweet-header a:hover, .tweet-header a:hover .tweet-user { color: #0088CC; }
    .tweet-text { margin-bottom: 0; }
    .tweet-footer { color: #999; font-style: italic; }
block content
  .page-header
    h1= search
  .row
    .span6
      each tweet in tweets
        .tweet
          .tweet-header
            a(href='https://twitter.com/#{tweet.user}')
              img.tweet-avatar(src='#{tweet.avatar}')
              span.tweet-user @#{tweet.user}
          p.tweet-text!= tweet.text
          .tweet-footer
            span.tweet-created= tweet.created
