extends base

block extrahead
  link(rel='stylesheet', href='/css/style.css')

block content
  .page-header
    h1= search
  .row
    .span6
      h2
        label.pull-right
          input#auto-display-new(type='checkbox', checked=autoDisplayNew)
          |  Auto Display New
        | Tweets
      #new-tweets-bar
      #tweets
        each tweet in tweets
          include index_tweet
      if (!infiniteScroll)
        #more-tweets More Tweets
      #loading-bar Loading...
    .span6
      #user-tweets

  script(src='/js/moment.min.js')
  script(src='/socket.io/socket.io.js')
  script
    var context = {
      pollInterval: #{pollInterval}
    , latestTweetId: '#{latestTweetId}'
    , earliestTweetId: '#{earliestTweetId}'
    , infiniteScroll: #{infiniteScroll}
    , autoDisplayNew: #{autoDisplayNew}
    }
  script(src='/js/index.js')