extends base

block extrahead
  style
    .tweet { margin-bottom: 12px; position: relative; padding-bottom: 6px; border-bottom: 1px solid #eee; }
    .tweet-header, .tweet-text, .tweet-footer { margin-left: 60px; }
    .tweet .time { color: #bbb; float: right; margin-top: 1px; }
    .time a { color: #999; font-size: 12px; }
    .tweet .avatar { position: absolute; top: 0; left: 0; border-radius: 5px 5px 5px 5px; height: 48px; width: 48px; }
    .tweet .tweet-username { font-weight: bold; color: #000; }
    .tweet-header a:hover, .tweet-header a:hover .tweet-username { color: #0088CC; }
    .tweet-text { margin-bottom: 0; }
    .tweet-footer { color: #999; font-style: italic; }
block content
  .page-header
    h1= search
  .row
    .span6
      each tweet in tweets
        .tweet
          .tweet-header
            small.time
              a.tweet-timestamp(title='#{tweet.created}', href='#{tweet.permalink}')
                span.short-timestamp(data-time='#{tweet.timestamp}')= tweet.ago
            a.account(href='#{tweet.accountlink}')
              img.avatar(src='#{tweet.avatar}')
              span.tweet-username @#{tweet.user}
          p.tweet-text!= tweet.text
          .tweet-footer
            span.tweet-created= tweet.created